h1,label,p{
    text-align: center;
    color:black;
    background-color: #ede7f6;
}



*{
    /* background-image: url(https://fondosmil.com/fondo/27139.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: #ede7f6;
    color:black;
}

.margen{
    
    background-color: #ede7f6;
    color:black;
}

.footer{
    margin-top: 25%;
    background-color: #ede7f6;
    color:black;
}